<div class="page-heading products-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>new arrivals</h4>
            <h2>Book Stor</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="products" style="height:100% ;width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters">
           
          </div>
        </div>
        <div class="col-md-12">
          <div class="filters-content">
              <div class="row grid">
                     
                <div class="container"><img src="/assets/uploads/{{databooks.image}}" alt="" style="width: 50%;"></div>
                  <br> 
                  <br>
                  <div class="container" style="padding-top:100px ;">
                  <h1 style="color: cadetblue;">{{databooks.title}}</h1>         
                  </div>

                <ul>
                   
                    <li></li>
                    <li> <h2 style="padding-top:20px;color:brown">{{databooks.price}}$</h2></li>
                    <li> <h3 style="padding-top:20px;">{{databooks.discription }}</h3></li>    
                    <br>  
                     <button type="button" class="btn btn-info">Buy</button>                  
                </ul>
                      
                    
           




           



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright &copy; 2020 Book Stor Co., Ltd.
          
         
          </div>
        </div>
      </div>
    </div>
  </footer>