<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Best Offer</h4>
            <h2>New Arrivals On Sale</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Get your best book</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Grab last minute deals</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Latest Products</h2>
              <a routerLink="/books">view all products <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/uploads/1.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Educatingg ageneration</h4></a>
                <h6>$25.75</h6>
                <p>Volunteering makes me feel a small part of this huge puzzle called AGBU with so many productive people who are graciously impacting change.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/uploads/2.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>the Road to doomsday</h4></a>
                <h6>$30.25</h6>
                <p>The Road to Doomsday Back to Resources. First published</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/uploads/3.jpeg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>the said three said</h4></a>
                <h6>$20.45</h6>
                <p>She Said, Three Said is one of the most provocative and thought-provoking novels of the modern era</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (36)</span>
              </div>
            </div>
          </div>
         



    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Reading books is important because:</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
             
              <ul class="featured-list">
                <li><a href="#">Reading improves your vocabulary</a></li>
                <li><a href="#">Books make you wiser</a></li>
                <li><a href="#">Reading increases your general knowledge</a></li>
                <li><a href="#">You’ll become a better conversationalist</a></li>
                <li><a href="#">People who read novels live longer</a></li>
                <li><a href="#">Reading prevents Alzheimer’s disease</a></li>
                <li><a href="#">Readers have higher incomes</a></li>
                <li><a href="#">Books can help reduce stress</a></li>
                <li><a href="#">Reading books builds your reading fluency</a></li>
              </ul>
              <a routerLink="/about" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/uploads/77.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 tunis, Ltd.
            
           
            </div>
          </div>
        </div>
      </div>
    </footer>